[packages.effect-platform-angular]
versioned_files = ["projects/effect-platform-angular/package.json"]

[packages.effect-angular-query]
versioned_files = ["projects/effect-angular-query/package.json"]

[changes]
ignore_conventional_commits = true

[bot.releases]
enabled = true
