[github]
owner = "heddendorp"
repo = "effect-angular"

[package]
name = "effect-angular"
versioned_files = [
  "package.json",
  "projects/effect-platform-angular/package.json",
  "projects/effect-angular-query/package.json",
]
changelog = "CHANGELOG.md"

[changes]
ignore_conventional_commits = true

[bot.releases]
enabled = true

[[workflows]]
name = "prepare-release"

[[workflows.steps]]
type = "PrepareRelease"

[[workflows.steps]]
type = "Command"
command = "bun scripts/sync-jsr-versions.mjs"

[[workflows.steps]]
type = "Command"
command = "git switch -C knope/release"

[[workflows.steps]]
type = "Command"
command = "git add ."

[[workflows.steps]]
type = "Command"
command = "git commit -m 'chore: prepare release $version'"

[[workflows.steps]]
type = "Command"
command = "git push --set-upstream origin knope/release --force"

[[workflows.steps]]
type = "CreatePullRequest"
base = "main"

[workflows.steps.title]
template = "chore: prepare release $version"

[workflows.steps.body]
template = "This PR was created by Knope. Merging it will create a new release.\n\n$changelog"

[[workflows]]
name = "release"

[[workflows.steps]]
type = "Release"

[[workflows]]
name = "document-change"

[[workflows.steps]]
type = "CreateChangeFile"
